<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:replace="layout :: navbar"></nav>
    <div class="card" style="width:400px" th:each="ele : ${personajes}">
        <img class="card-img-top" th:src="${ele.urlImagen}" alt="Card image">
        <div class="card-body">
            <h4 class="card-title" th:text="${ele.nombre}">John Doe</h4>
            <h4 class="card-title" th:text="${ele.region}">John Doe</h4>
            <h4 class="card-title" th:text="${ele.rol}">John Doe</h4>
            <h4 class="card-title" th:text="${ele.winrate}">John Doe</h4>
            <h4 class="card-title" th:text="${ele.dificultad}">John Doe</h4>
            <p class="card-text" th:text="${ele.lore}">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>

    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card" style="width:400px" th:each="ele : ${personajes}">
                    <img class="card-img-top" th:src="${ele.urlImagen}" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${ele.nombre}">John Doe</h4>
                        <h4 class="card-title" th:text="${ele.region}">John Doe</h4>
                        <h4 class="card-title" th:text="${ele.rol}">John Doe</h4>
                        <h4 class="card-title" th:text="${ele.winrate}">John Doe</h4>
                        <h4 class="card-title" th:text="${ele.dificultad}">John Doe</h4>
                        <p class="card-text" th:text="${ele.lore}">Some example text.</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>

        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

</body>
</html>